<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <clear/>
    <add key="IsEnableThread" value="1" />
    <!--侍女微博-->
    <add key="AccountName" value="weibo@sina.com" />
    <add key="Password" value="password" />
    <!--关注主人的名字-->
    <add key="ScreenName" value="新浪微博" />
    <add key="SinceId" value="0" />
    <!--下载文件保存路径-->
    <add key="FilePath" value="..\..\..\Downloads" />
    <!--拍摄照片保存路径-->
    <add key="PhotoPath" value="..\..\..\Photos" />
  </appSettings>
</configuration>
