<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <clear/>
    <add key="IsEnableThread" value="1" />
    <add key="AccountName" value="weibo@sina.com" />
    <add key="Password" value="password" />
    <add key="ScreenName" value="新浪微博" />
    <add key="SinceId" value="0" />
    <add key="FilePath" value="..\..\..\Downloads" />
  </appSettings>
</configuration>
