<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <appSettings>
    <clear/>
    <add key="AccountName" value="yuanzhanxue@163.com" />
    <add key="Password" value="yyYY@!21" />
    <add key="ScreenName" value="袁宅侍女" />
    <add key="SinceId" value="3602538408375330" />
  </appSettings>
</configuration>